{% load static %}
<header>
	<!--<span class="image avatar"><img src="{% static "images/avatar.png" %}" alt="" /></span>-->
	<div class="row uniform">
		<div class="12u">
			<input name="demo-name" id="demo-name" value="" placeholder="Search for player" type="text">
			<p></p>
		</div>
	</div>
	<p>Logged as </p>
	<h1 id="logo">Willis Corto</h1>
	<p>Ratio 44%</p>
</header>
<nav id="nav">
	<ul>
		<li><a href="#one" class="active">About</a></li>
		<li><a href="#two">Things I Can Do</a></li>
		<li><a href="#three">A Few Accomplishments</a></li>
		<li><a href="#four">Contact</a></li>
	</ul>
</nav>
<footer>
	<ul class="icons">
		<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
		<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
		<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
		<li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
		<li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li>
	</ul>
</footer>
